[build]
  command = "pip install -r requirements.txt"
  functions = "api/"
  publish = "public/"

[[redirects]]
  from = "/api/now-playing"
  to = "/.netlify/functions/index"
  status = 200

[[redirects]]
  from = "/"
  to = "/widget.html"
  status = 200
